body {
  background-color: black;
}

.container {
  position: relative;
  height: 924px;
  width: 1297px;
  overflow: hidden;
}

.background {

}

.foreground {
  position: absolute;
  bottom: 0;
  transform: scaleY(1.1);
}

.hands {
  // display: flex;
  // justify-content: space-around;
  width: 1380px;
}

.hand1, .hand2 {

}

.hand1 {
  bottom: -400px;
  left: 300px;
  position: absolute;
  animation-delay: 1s;
  animation: move-up 4s;
  animation-fill-mode: forwards;
}

.hand2 {
  bottom: -500px;
  left: 500px;
  position: absolute;
  animation-delay: 1s;
  animation: move-up 4s;
  animation-fill-mode: forwards;
}


.hand3 {
  bottom: -400px;
  left: 1000px;
  position: absolute;
  animation-delay: 1s;
  animation: move-up 4s;
  animation-fill-mode: forwards;
}

.bat {
  position: absolute;
  top: 50px;
  left: -300px;
  animation: move-across 6s;
  animation-fill-mode: forwards;
  // animation-delay: 3s;
}

.horse {
  position: absolute;
  bottom: -50px;
  left: -500px;
  animation: horse 6s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

.stop {
  animation: none;
}

.nopoint {
  pointer-events: none;
}


@keyframes move-up{
  100% {
    transform: translateY(-400px);
  }
}
@keyframes move-up3{
  100% {
    transform: translateY(-300px);
  }
}

@keyframes move-across{
  0%{
    top: 250px;
  }
  25%{
    top: 25px;
  }
  50% {
    top: 250px;
  }
  75% {
    top: 25px;
  }
  100% {
    top: 250px;
    left: 1400px;
  }
}


@keyframes horse {
  100% {
    left: 900px;
  }
}

p {
  color: white;
  z-index: 1;
}
